torch>=2.0.1
accelerate>=0.21.0
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
peft
transformers>=4.33.2
sentencepiece
py7zr
scipy
optimum
wandb
pre-commit
hydra-core
omegaconf
loguru
trl>=0.7.1
scikit-learn
tensorboard
